# python-related
__pycache__/
*.egg-info/
.pytest_cache/

# config files
pyrightconfig.json

# virtual environemtns
.venv/

# environment variables
.env

# testing
server.log

# data
# image/src/data/source/**
# image/src/data/chroma/**
# !image/src/data/source/.gitkeep
# !image/src/data/chroma/.gitkeep
