# python-related
__pycache__/
*.egg-info/

# config files
pyrightconfig.json

# virtual environemtns
.venv/

# environment variables
.env

# data
image/src/data/source/**
image/src/data/chroma/**
!image/src/data/source/.gitkeep
!image/src/data/chroma/.gitkeep
